version: "3.8"

services:
  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:alpine
    ports:    
      - "6379:6379"

  backend-api:
    build: ./apps/api
    ports: 
      - "5000:5000"    
    environment:
      - NODE_ENV=development
      - PORT=5000
      - MONGODB_URI=mongodb://mongodb:27017/dx_education
      - REDIS_URL=redis://redis:6379
    depends_on: 
      - mongodb
      - redis

  web:
    build: 
      context: ./apps/web
      args:
        - API_BASE_URL=http://backend-api:5000
      network: host  
    ports:
      - "3000:3000"
    environment:
      - API_BASE_URL=http://backend-api:5000     
    depends_on:
      - backend-api  

volumes:
  mongodb_data:    